<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport">

    <title>Proto Serre</title>


    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          type="text/css">
    <link rel="stylesheet"
          th:href="@{/css/bootstrap-table.min.css}"
          type="text/css">
    <link href="../static/css/style.css"
          rel="stylesheet"
          th:href="@{/css/style.css}"
          type="text/css">

</head>
<body>
</body>

</html>