


/*login page*/
.containerVerticalAlign{
    display: table;
    height: 100%;
    margin: 0 auto;
}
.verticalAlign{
    display: table-cell;
    vertical-align: middle;
}


/*global */
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.rappelMDP{
    font-size: 0.9em;
    color: #a85823;
}

/*global*/
.containerGlobal{
    background-color: #f0e8df;
}

.modal-content{
    background-color: rgba(186,182,166, 0.8);
}
/*page control*/
.card-control{
    padding: 1rem;
    margin: 2.5rem;
    background-color: lightgray;
    height: 550px;
}
.containerGray{
    background-color: #d3d9df;
    height: 100%;
    width: 100%;
}
.panel-control{
    background-color: #bab6a6;
    width: 1720px;
    height: 720px;
}

.tab-content{
    align-items: center;
    background-color: #4e555b;
    height: 630px;
}

.nav-item{
    color: white;
}
/*.addCard{
    width: 500px;
}*/
.btn-next{
    color: #918d80;
}
.label-align-left{
    text-align: left;
}


/*page commonName form*/
.panel-commonName{
    background-color: #bab6a6;
    width: 1600px;
    height: 660px;
}
.cardCommonNameForm{
    padding: 1rem;
    margin: 3rem;
    background-color: lightgray;
    width: 1500px;
    height: 450px;
}
.inputCommonNameForm{
    width: 200px;
}

.tab-contentCommonNameForm{
    align-items: center;
    background-color: #4e555b;
    height: 550px;
}

/*table global*/

table > thead > tr > th{
    color: white;
    background-color: #918d80;
    padding-bottom: 60px;
    font-size: 0.8em;
}
.thId{
    display: none;
    visibility: hidden;
}

/*.thCertif{*/
/*    width: 140px;*/
/*}*/
/*.thProjet{*/
/*    width: 140px;*/
/*}*/
/*.thAppCode{*/
/*    width: 140px;*/
/*}*/
/*.thOrga{*/
/*    width: 120px;*/
/*}*/
/*.thExpiry{*/
/*    width: 120px;*/
/*}*/
/*.thRequestDate{*/
/*    width: 120px;*/
/*}*/
/*.thCn{*/
/*    width: 350px;*/
/*}*/
/*.thStatus{*/
/*    width: 120px;*/
/*}*/
/*.thDeadline{*/
/*    width: 120px;*/
/*}*/
/*.thMail{*/
/*    width: 120px;*/
/*}*/


/*Detail table */

.detailsTable thead > tr > th{
    color: white;
    background-color: #918d80;
    font-size: 1.6em;
    min-width: 300px;
}
.detailsTable thead > tr > td{
    color: white;
    background-color: #918d80;
    font-size: 1.6em;
}

.history-table{
    background-color: #d3d9df;
}

/*details button*/

.btn-valid{
    color: #549ca8;
}
.btn-valid-disabled{
    color: #a9d0cc;
}

.btn-quit{
    color: #ac6b00;
}

.btn-renewal{
    background-color: #B53D00;
    color: #F7F6FF;
}
.btn-renewal-disabled{
    background-color: #b97103;
    color: #F7F6FF;
}
.btn-origin{
    background-color: #a1a1a1;
    color: #7e43a1;
}

/*section contact */
.contactPanel{
    background-color: #bab6a6;
}
.card-header-contact{
    background-color: #bab6a6;
}
/*commentairies*/
.commentaryPanel{
    background-color: #bab6a6;
}
/*.commentaryMaxHeight{*/
/*    max-height: 1270px;*/
/*}*/

/* attribution */
.attributionContainer{
    height: 680px;
    overflow-x:auto;
    overflow-y:auto;
}

.attributionContainer{
    overflow-x: hidden;
}

/*User form*/
.cardUserForm{
    padding: 1rem;
    background-color: lightgray;
    margin: auto;
    height: min-content;
    min-width: 300px;
}
.cardUserTable{
    padding: 1rem;
    background-color: lightgray;
    margin-right: auto;
    height: max-content;
    min-width: 650px;
}
.panel-userForm{
    background-color: #bab6a6;
}

.navTabContainer{
    width: 1600px;
    height: 690px;
    overflow-y: auto;
}

.thIdUser{
    width: 60px;
}

.thLastNameFirstnameUser{
    width: 200px;
}

.thIdRhUser{
    width: 80px;
}

.thPasswordUser{
    width: 80px;
}

.thStatusUser{
    width: 300px;
}

/*delai table global*/
#tableGlobalTransition{
    display: none;
}

@keyframes preload {
    from {
        opacity: 0;
        visibility:hidden;
    }
    50% {
        opacity: 0;
        visibility:hidden;
    }
    to {
        opacity: 100;
        visibility:visible;
    }
}
.panel{
    animation: preload 800ms;
}
@keyframes preloadGlobalTable {
    from{
        opacity: 0;
        display: none;
    }
    50%{
        opacity: 0;
        display: none;
}
    to{
        opacity: 1;
        display: block;
    }
}
#myTable{
    animation: preloadGlobalTable 800ms;
}

/*Admin page*/
.panelAdmin{
    background-color: #bab6a6;
    width: 1600px;
    height: 800px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}

.panelAdminContent{
    background-color: #4e555b;
    height: 710px;
}



.fixed-table-header{
    display: contents;
}

/*Profile Page*/
.cardProfileUser{
    padding: 1rem;
    background-color: lightgray;
    margin: auto;
    height: min-content;
    min-width: 300px;
}

.form-field-error{
    color: #af2700;
}

/*!*table code application management*!*/
.panel-manageAttribute{
    background-color: #bab6a6;
    width: 1600px;
    height: 770px;
}
.panel-bodyManageAttribute{
    background-color: #4e555b;
    height: 690px;
}
.panel-cardManageAttribute{
    padding: 1rem;
    background-color: lightgray;
    height: 660px;
}
.panel-cardFormManageAttribute{
    padding: 1rem;
    background-color: lightgray;
    height: content-box;
}
.nav-tabs .nav-link{
    background-color: #918d80;
}

/*Trash table fixed */
.fixed-table-toolbar{
    padding-right: 1rem;
}

@media only screen and (max-width:1145px) {
    .panelAdmin {
        background-color: #bab6a6;
        width: 1600px;
        height: 1360px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
    }

    .panelAdminContent {
        background-color: #4e555b;
        height: 1290px;
    }

    .cardUserTable {
        margin-top: 2vh;
    }

    .panel-manageAttribute{
        background-color: #bab6a6;
        width: 1600px;
        height: 1360px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
    }
    .panel-bodyManageAttribute {
        background-color: #4e555b;
        height: 1290px;
    }
    .panel-cardFormManageAttribute {
        margin-top: 2vh;
    }
}