<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head.html :: head"></div>
    <head>
        <script th:inline="javascript">
            /*<![CDATA[*/
            window.onload = function () {
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    zoomEnabled: true,
                    title:{
                        text: "Temperature / Humidity for last 7 days"
                    },
                    axisX: {
                        title:"Dates"
                    },
                    axisY:{
                        title: "Temperature °C / Humidity %"
                    },
                    data: [{
                        type: "scatter",
                        toolTipContent: "<span style=\"color:#4F81BC \"><b>{name}</b></span><br/><b> Date:</b> {x}<br/><b> Temperature:</b></span> {y}",
                        name: "Temperature",
                        showInLegend: true,
                        yValueFormatString: "#0\"°C\"",
                        xValueFormatString: "DD MMM YYYY",
                        dataPoints: [
                            /*[# th:each="dateAndTemperature : ${globalTemperatureListForSevenDays}"]*/
                            [(${dateAndTemperature})]
                            /*[/]*/
                        ]
                    },
                        {
                            type: "scatter",
                            name: "Humidity",
                            showInLegend: true,
                            yValueFormatString: "#0\"%\"",
                            toolTipContent: "<span style=\"color:#C0504E \"><b>{name}</b></span><br/><b> Date:</b> {x}<br/><b> Humidity:</b></span> {y}",
                            dataPoints: [

                                /*[# th:each="dateAndHumidity : ${globalHumidityListForSevenDays}"]*/
                                [(${dateAndHumidity})]
                                /*[/]*/
                            ]
                        }]
                });
                chart.render();
            }
            /*]]>*/
        </script>
    </head>
    <body class="containerGray container-fluid">
    <div class="row justify-content-center">
        <div class="panel">

            <nav class="nav nav-tabs">
                <form method="GET"
                      th:action="@{/allDataForLastWeek}">
                    <button class="nav-item nav-link active"
                            type="submit">
                        All data for last week
                    </button>
                </form>
                <form method="GET"
                      th:action="@{/minMaxDataForLastWeek}">
                    <button class="nav-item nav-link"
                            type="submit">
                        Min and Max temperature for last week
                    </button>
                </form>
                <form method="GET"
                      th:action="@{/allData}">
                    <button class="nav-item nav-link"
                            type="submit">
                        All Data - Temperature and Humidity
                    </button>
                </form>
            </nav>

            <div class="tab-content text-center">
                <div class="tab-pane fade show active"
                     id="p1">
                    <div class="row justify-content-center align-content-center">
                        <div class="card text-center col-10">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div id="chartContainer"
                                     style="height: 370px;
                                             width: 100%;">
                                </div>
                            </div>
                            <div class="card-footer text-muted"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script th:replace="fragments/script.html :: script"></script>
    </body>
</html>