<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head.html :: head"></div>
<body class="containerGray">
<div class="container">
    <!DOCTYPE HTML>
    <html>
    <head>
        <script th:inline="javascript">
            /*<![CDATA[*/

            window.onload = function () {

                var chart = new CanvasJS.Chart("chartContainer",
                    {
                        title: {
                            text: "Date Time Formatting"
                        },
                        axisX:{
                            valueFormatString: "DD-MMM" ,
                            labelAngle: -50
                        },
                        axisY: {
                            valueFormatString: "#,###"
                        },

                        data: [
                            {
                                type: "area",
                                color: "rgba(0,75,141,0.7)",
                                dataPoints: [


                                    /*[# th:each="temp : ${arrayListTemperature1}"]*/
                                    { x: new Date[(${temp})]},
                                    /*[/]*/
                                    /*[# th:each="temp : ${arrayListTemperature2}"]*/
                                    { x: new Date[(${temp})]},
                                    /*[/]*/
                                    /*[# th:each="temp : ${arrayListTemperature3}"]*/
                                    { x: new Date[(${temp})]},
                                    /*[/]*/
                                    /*[# th:each="temp : ${arrayListTemperature4}"]*/
                                    { x: new Date[(${temp})]},
                                    /*[/]*/
                                    /*[# th:each="temp : ${arrayListTemperature5}"]*/
                                    { x: new Date[(${temp})]},
                                    /*[/]*/
                                    /*[# th:each="temp : ${arrayListTemperature6}"]*/
                                    { x: new Date[(${temp})]},
                                    /*[/]*/
                                    /*[# th:each="temp : ${arrayListTemperature7}"]*/
                                    { x: new Date[(${temp})]},
                                    /*[/]*/
                                ]
                            }

                        ]
                });
                chart.render();
            }
            /*]]>*/

        </script>
    </head>
    <body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </body>
    </html>
</div>

<script th:replace="fragments/script.html :: script"></script>

</body>
</html>